body{
    background-color: rgb(207, 207, 207);
    display: flex;
    flex-direction: column;
    margin: -10px;
    font-family: Roboto, helvetica;

}

button{
    background-color: rgb(204, 229, 249);
    padding: 10px;
    border: auto;
    border-width: 2px;
    border-style: solid;
}

.buttons {
    
}

.game, .round-message, .score, .winner{
    display: flex;
    justify-content: center;
    margin: 20px;
    font-size: large;
}

.game {
    justify-content: space-around;
    font-size: x-large;
    font: 900;
}

.winner{
    font-size: xx-large;
}

.score {
    justify-content: space-around;

}

.score > img {
    width: 70px;
    padding: 20px;
    border-radius: 5px;
    border-style: double;
    background-color: rgba(1, 1, 1, 0.606);
    
}
