body{
    background-color: #1A1A1D;
    display: flex;
    flex-direction: column;
    margin: -10px;
    font-family: Roboto, helvetica;
    flex-shrink: 1;
}

.title {
    display: flex;
    justify-content: center;
    padding: 40px;
    margin: 0;
    background-color: #3B1C32;
    color: #A64D79;
}

.game, .round-message, .score, .winner{
    display: flex;
    justify-content: center;
    margin: 20px;
    font-size: large;
    color: #A64D79;
    padding: 0 100px;
}

.round-message {
    padding: 20px;
    font-size: 20px;
}

.score {
    font-size: x-large;
    font: 900;
    margin: 20px 0;
}

.winner{
    font-size: xx-large;
}

.game {
    display: flex;
    align-items: center;
    margin: 20px 100px;
    padding: 0 50px;
}

.game > div {
    width: 70px;
    height: 70px;
    padding: 20px;
    border-radius: 5px;
    border-style: double;
    background-color: #3B1C32;
    margin: 0 70px;

    
}

.game > div > img {
    block-size: 70px;
}

.game > .play-again{
    border-radius: 5px;
    font-size: large;
}

button{
    background-color: #6A1E55;
    padding: 30px;
    border: auto;
    border-width: 2px;
    border-style: solid;
    margin: 0 20px
}

.buttons {
    display: flex;
    padding: 50px;
    justify-content: center;
}

.score > div {
    display: flex;
    justify-content: center;
    margin: 0 90px;
}



